.alert{
    position: absolute;
    width: 100vw;
    margin-top: 56px;
}

form{
    margin-top: 50px;
}

.input_title {
    margin-bottom: 10px;
}

.form-switch {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    margin-top: 8px;
}

.allButtons {
    display: inline-flex;
    padding: 0px 20px;
    padding-top: 20px;
}

.choosing-buttons {
    margin-left: 10vw;
}

.main-screen {
    padding: 0;
}

.text-toEnter {
    padding: 0px 20px;
    padding-top: 13vh;
}

.final-button {
    margin-left: 22px;
}