.alert{
    position: absolute;
    width: 100vw;
    margin-top: 56px;
}

.error-text{
    margin-top: 125px;
    height: 300px;
}

.result {
    width: 100vw;
    height: 73.3vh;
    font-family: 'Merriweather', serif;
    margin: 20px;
    }