.result {
    margin: 0;
    padding: 0;
    margin-bottom: 5vh;
    margin-top: 9vh;
}

.alert {
    width: 100vw;
    margin-bottom: 20px;
}

pre {
    font-family: Arial, sans-serif;
    font-size: large;
}

.heading{
    height: 69px;
}