.result {
    margin: 0;
    padding: 0;
}

.alert {
    width: 100vw;
    margin-bottom: 0;
}

pre {
    font-family: 'Merriweather', serif;
    font-size: large;
}

.output {
    width: 100vw;
    height: auto;
    margin: 20px;
}