{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style-analyze.css' %}"> {% endblock css %}
{% block title %}Text Utils{% endblock title %}

{% block body %}
<div class="container-fluid result">
    <div class="alert alert-warning" role="alert">
        <strong>Thanks for using our website!</strong> Your text is modified as per your choice now
    </div>
    <div class="container-fluid output">
        <h3 class="heading">Your Analyzed text - {{ purpose }}</h3b>
        <p>
        <pre><img src="{% static 'icons/arrow-right.svg' %}" alt="-->"> {{analyzed_text}}</pre>
        </p>
    </div>
</div>
{% endblock body %}