{% load static %}
{% block font %}{% endblock font %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style-base.css' %}">
    {% block css %}{% endblock css %}
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">

    <title>{% block title %} {% endblock title%}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Text Utils</a>
        </div>
    </nav>

    {% block body %}
    {% endblock body %}

    <div class="itsFooter bg-dark">
        Copyright &copy; TextUtils.in
        <img class="right-arrow" src="{% static 'icons/right.svg' %}" alt="->">
        <a class="github" href="https://github.com/ronit-github"><img src="{% static 'icons/github.svg' %}"
                alt="github"></a>
        <a class="twitter" href="https://twitter.com/ronit_bhati_"><img src="{% static 'icons/twitter.svg' %}"
                alt="twitter"></a>
        <a class="instagram" href="https://www.instagram.com/ronit_bhati_/"><img
                src="{% static 'icons/instagram.svg' %}" alt="instagram"></a>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</html>