{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style-error.css' %}"> {% endblock css %}
{% block title %}Text Utils{% endblock title %}

{% block body %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>We think you have made a mistake!</strong> Please go to home page and atleast select one option
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container-fluid result">
    <h2 class="error-text">Make sure that you have choosen atleast one option!</h2>
</div>
{% endblock body %}