{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style-index.css' %}">
    <link rel="icon"href="{% static 'icons/favicon.ico' %}">

    <title>Text Utils</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Text Utils</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid main-screen">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Welcome to Text Utils!</strong> Our website will help you out in customizing your text
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form action="/analyze/" method="post">{% csrf_token %}
            <div class="form-group text-toEnter">
                <label for="exampleFormControlTextarea1" class="input_title">Enter your text here and let our website do
                    the job!</label>
                <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="8"></textarea>
            </div>
            <div class="allButtons">
                <div class="form-check form-switch choosing-buttons-first">
                    <input class="form-check-input" name="removepunc" type="checkbox" id="switch1">
                    <label class="form-check-label" for="switch1">Remove Punctuation</label>
                </div>
                <div class="form-check form-switch choosing-buttons">
                    <input class="form-check-input" name="capitalizeall" type="checkbox" id="switch2">
                    <label class="form-check-label" for="switch2">UPPERCASE</label>
                </div>
                <div class="form-check form-switch choosing-buttons">
                    <input class="form-check-input" name="rmnewline" type="checkbox" id="switch3">
                    <label class="form-check-label" for="switch3">Remove new line</label>
                </div>
                <div class="form-check form-switch choosing-buttons">
                    <input class="form-check-input" name="removeextraspace" type="checkbox" id="switch4">
                    <label class="form-check-label" for="switch4">Remove extra spaces</label>
                </div>
            </div>
            <div class="final-button">
                <button type="submit" class="btn btn-warning">Analyze Text</button>
            </div>
        </form>
    </div>
    <div class="itsFooter bg-dark">
        Copyright &copy; TextUtils.in 
        <img class="right-arrow" src="{% static 'icons/right.svg' %}" alt="->">
        <a class="github" href="https://github.com/ronit-github"><img src="{% static 'icons/github.svg' %}" alt="github"></a>
        <a class="twitter" href="https://twitter.com/ronit_bhati_"><img src="{% static 'icons/twitter.svg' %}" alt="twitter"></a>
        <a class="facebook" href="https://www.facebook.com/ronit.bhati.9235/"><img src="{% static 'icons/facebook.svg' %}" alt="facebook"></a>
        <a class="insta" href="https://www.instagram.com/ronit_bhati_/"><img src="{% static 'icons/instagram.svg' %}" alt="instagram"></a>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</html>