{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style-index.css' %}"> {% endblock css %}
{% block title %}Text Utils{% endblock title %}

{% block body %}
<div class="container-fluid main-screen">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Welcome to Text Utils!</strong> Our website will help you out in customizing your text
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <form action="/analyze/" method="post">{% csrf_token %}
        <div class="form-group text-toEnter">
            <label for="exampleFormControlTextarea1" class="input_title">Enter your text here and let our website do
                the job!</label>
            <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="8"></textarea>
        </div>
        <div class="allButtons">
            <div class="form-check form-switch choosing-buttons-first">
                <input class="form-check-input" name="removepunc" type="checkbox" id="switch1">
                <label class="form-check-label" for="switch1">Remove Punctuation</label>
            </div>
            <div class="form-check form-switch choosing-buttons">
                <input class="form-check-input" name="capitalizeall" type="checkbox" id="switch2">
                <label class="form-check-label" for="switch2">UPPERCASE</label>
            </div>
            <div class="form-check form-switch choosing-buttons">
                <input class="form-check-input" name="rmnewline" type="checkbox" id="switch3">
                <label class="form-check-label" for="switch3">Remove new line</label>
            </div>
            <div class="form-check form-switch choosing-buttons">
                <input class="form-check-input" name="removeextraspace" type="checkbox" id="switch4">
                <label class="form-check-label" for="switch4">Remove extra spaces</label>
            </div>
        </div>
        <div class="final-button">
            <button type="submit" class="btn btn-warning">Analyze Text</button>
        </div>
    </form>
</div>
{% endblock body %}